<h2>Sign up</h2>
  <%= form_for(resource, as: resource_name,url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
<div class="form-group">
<%= f.label :email %><br />
<%= f.email_field :email, autofocus: true, class: "form-control" %>
</div>
<div class="form-group">
<%= f.label :password %>
<% if @validatable %>
<em>(<%= @minimum_password_length %> characters minimum)</em>
<% end %><br />
<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
</div>
<div class="form-group">
<%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation, autocomplete: "off",
class: "form-control" %>
</div>
<%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
<% end %>
<%= render "devise/shared/links" %>
